html {
    height: 100%;
    width: 100%;
  }
  
  body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #000000;
  }
  
  .header {
    text-align: center;
    margin: 1% 20%;
    background-color: #2c3fa0;
    color: #ffffff;
    padding: 15px;
    border-radius: 8px;
  }
  
  .header h1 {
    font-size: 30px;
    margin: 0;
    text-align: center;
  }
  
  h2 {
    font-size: 20px;
    margin: 0;
    text-align: center;
  }
  
  .gallery-container {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
    text-align: center;
    margin: 1% 20%;
    padding: 15px;
    border-radius: 8px;
  }
  
  .gallery {
    margin: 5px;
    width: 700px;
    align-items: center
  }

  .footer {
    text-align: center;
    margin: 1% 20%;
    background-color: #bfc6e7;
    color: #ffffff;
    padding: 15px;
    border-radius: 8px;
  }

  .name {
    text-align: center;
    margin: 1% 20%;
    padding: 15px;
    border-radius: 8px;
    color: black;
  }